html {
    background-color: darkgray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 10% 0 10%;
    padding: 5%;
    box-shadow: 0 0 20px gray;
    background-color: lightgray;
}

body>div {
    width: 100%;
}

body>div>h3:not(:first-of-type),
body>h2:not(:first-of-type) {
    margin-top: 8%;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

img {
    box-shadow: 0 0 20px gray;
    width: 100%;
    transition: 0.2s;
}

img:hover {
    box-shadow: 0 0 24px dimgray;
}

.image-text-side-by-side {
    display: flex;
    gap: 5%;
}

.img-a {
    width: 40%;
    flex-shrink: 0;
}